.text_box{
    /* background-color: white; */
    border: 1px dashed red;
    width: 570px;
    margin-bottom: 30px;
    margin-top: 30px;

    padding-bottom: 10px;
}


.main_img{
    border: 1px dashed red;
    width: 580px;
    height: 150px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom: 10px;
    /* background-image:url('./src/main.jpg'); */
    background-size : contain;
    background-repeat: no-repeat;

}